.chat {
  position: relative;
}

.chatLog {
  position: absolute;
  top: 3rem;
}

.messageUnit {
  background-color: rgb(159, 159, 185);
  padding: 0.5em 1em;
  margin: 2em 0 2em 1rem;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
